global
  maxconn <%= (typeof GLOBAL_MAXCONN == "undefined") ? 256 : SERVER_MAXCONN %>

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen http-in
  bind *:<%= (typeof PORT == "undefined") ? 80 : PORT %>
  <% if (typeof BACKEND_SERVERS != "undefined") {
       var servers = BACKEND_SERVERS.split(",");
       for (var i = 0; i < servers.length; i++) {
          var server = servers[i]; %>
  server server<%= i %> <%= server %> maxconn <%= (typeof SERVER_MAXCONN == "undefined") ? 32 : SERVER_MAXCONN %>
  <%   }
     }
  %>
