global
  maxconn <%= (typeof GLOBAL_MAXCONN == "undefined") ? 256 : GLOBAL_MAXCONN %>
  tune.ssl.default-dh-param 2048
<% if ((typeof DEBUG) != "undefined") && JSON.parse(DEBUG)) { %>
  debug
<% } %>

defaults
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

<% if ((typeof SSL_PASSTHROUGH != "undefined") && JSON.parse(SSL_PASSTHROUGH)) { %>
listen https-in
  mode tcp
  balance roundrobin
  bind *:<%= (typeof PORT == "undefined") ? 443 : PORT %>
  option ssl-hello-chk
<% if (typeof BACKEND_SERVERS != "undefined") {
     var servers = BACKEND_SERVERS.split(",");
     for (var i = 0; i < servers.length; i++) {
       var server = servers[i]; %>
  server server<%= i %> <%= server %> check maxconn <%= (typeof SERVER_MAXCONN == "undefined") ? 32 : SERVER_MAXCONN %>
<%   }
   }
%>
<% } else { %>
listen http-in
  mode http
  balance roundrobin
  option httpcheck
  <% if (typeof KEY != "undefined") { %>
    bind *:<%= (typeof PORT == "undefined") ? 443 : PORT %> ssl crt /usr/local/etc/haproxy/haproxy.pem
  <% } else { %>
    bind *:<%= (typeof PORT == "undefined") ? 80 : PORT %>
  <% } %>
  <% if (typeof BACKEND_SERVERS != "undefined") {
       var servers = BACKEND_SERVERS.split(",");
       for (var i = 0; i < servers.length; i++) {
          var server = servers[i]; %>
  server server<%= i %> <%= server %> maxconn <%= (typeof SERVER_MAXCONN == "undefined") ? 32 : SERVER_MAXCONN %>
  <%   }
     }
  %>
<% } %>
